- var title = "My Collages";
form#create-collage-form.form(action="/create", method="POST")
	fieldset
		.span2
			input#collageName.input-large.span2(placeholder="Collage Name", type="text",name="collageName")
		.span2
			button#create-collage-btn.btn.btn-primary.btn-large
				| Create New Collage 
h2
	| Your Collages
	
#photos.row-fluid
	ul#photo-list.thumbnails
		each cl in collages
			li.span3
				div.thumbnail
					.img-placeholder(style="background-image:url('#{cl.photo_url}')")
					//- img(data-src="https://#{cl.photo_url}", src="https://#{cl.photo_url}")
					h3
						| #{cl.name}
					button.start-publish.btn.btn-small(data-id="#{cl._id}", data-photourl="#{cl.photo_url}")
						| publish
	script(src="/javascripts/require-full.js",data-main="/javascripts/MyCollages-Main.js")

#publish-collage-modal(class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="publishModalLabel", aria-hidden="true")
	.modal-header
		button.close( type="button", class="close", data-dismiss="modal", aria-hidden="true")
			| ×
		h3#publishModalLabe
			| Publish Collage

	.modal-body
		.preview
			#collage-preview.img-placeholder
			textarea#publish-comments(placeholder="Comments")

			.loading
				i.icon-spinner.icon-spin.icon-large
				|Saving Your Collage
		.saved
			h2
				| Image is Saved!

			
	.modal-footer
		.preview
			button.btn( data-dismiss="modal", aria-hidden="true")
				| Close
			
			button#save-collage.btn.btn-primary
				| Publish
		.saved
			button.btn( data-dismiss="modal", aria-hidden="true")
				| Close
